// extend setting
@import 'mixin';
$dotcolor: inherit,
#2B1F31,
#413D65,
#5998b2,
#5FB9B0;
//load style
.paceBox {
    background-color: white;
    position: fixed;
    z-index: 9999999;
    @include fullWH;
    top: 0;
    left: 0;
    display: block;
    .spinner {
        width: 40px;
        height: 40px;
        position: relative;
    }
    .cube1,
    .cube2 {
        background-color: #413D65;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
        animation: sk-cubemove 1.8s infinite ease-in-out;
    }
    .cube2 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
}


/* animation */

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}


/* Grow */

@keyframes myAnimation {
    0% {
        height: 20px;
    }
    25% {
        height: 23px;
    }
    50% {
        height: 20px;
    }
    100% {
        height: 23px;
    }
}

.hvr-grow {
    &:hover,
    &:focus,
    &:active {
        -webkit-animation-name: myAnimation;
        animation-name: myAnimation;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }
}

// Instruction
.index-instruction {
  width: 40px;
  height: 40px;
  margin: 10px auto;
  background-color: #FFF;
  border-radius: 100%;  
  -webkit-animation: instruction 1.0s infinite ease-in-out;
  animation: instruction 1.0s infinite ease-in-out;
}

@-webkit-keyframes instruction {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes instruction {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}