// layout style setting
@import 'variable';
@import 'websiteSetting';
html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    @include fontsFamily_basicSetting(400);
}

h1 {
    font-size: 2.25rem;
    @include fontsFamily_basicSetting(700);
}

h2 {
    font-size: 1.5rem;
    @include fontsFamily_basicSetting(700);
}

p {
    font-size: 0.9375rem;
    @include fontsFamily_basicSetting(400);
}

#header {
    position: fixed;
    top: 20px;
    z-index: 999;
    width: 100%;
    .logo {
        height: auto;
        float: left;
        img {
            margin-left: 20px;
        }
    }
    .mobile-menu {
        display: block;
        float: right;
        text-align: right;
        img {
            margin-right: 20px;
            width: 25px;
            cursor: pointer;
        }
        .menu-container {
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: #2b1e31;
            overflow: auto;
            ul {
                margin-top: 20px;
                .closeMenu-Btn {
                    position: absolute;
                    right: 0;
                    top: 20px;
                }
                .menu-list{
                    margin: 18% 0;
                }
                li {
                    text-align: center;
                    a {
                        color: white;
                        text-decoration: none;
                        letter-spacing: 2px;
                        font-size: 1.8rem;
                        &:hover{}
                        &:active{}
                    }
                }
            }
        }
        .menu-logo {
            text-align: center;
            .mobile-porfoiloLogo {
                margin: 0 auto;
            }
        }
    }
}

.copyright {
    z-index: 9999;
    position: fixed;
    bottom: 25px;
    color: white;
    @include boxSite;
    @include fontsSetting(300);
}
