// mixin setting
@import 'variable';
//setting containerBox left & right style
@mixin container-Box($float:left) {
    width: 50%;
    height: 100%;
    float: $float;
}

// @mixin container-move($containerWidth, $site) {
//     width: $containerWidth;
//     height: 100%;
//     @if $site==right {
//         right: 0px;
//     }
//     @else if $site==left {
//         left: 0px;
//     }
// }

@mixin boxSite($text-align:center) {
    width: 100%;
    display: block;
    text-align: $text-align;
}

@mixin fullWH {
    width: 100%;
    height: 100%;
}

@mixin clean_allstyle {
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

@mixin background-imageStyle($sizeW, $sizeH, $face-url, $size-style) {
    width: $sizeW;
    height: $sizeG;
    display: inline-block;
    background: url($face-url) no-repeat center center;
    background-size: $size-style;
    -webkit-background-size: $size-style;
    -moz-background-size: $size-style;
    -o-background-size: $size-style;
}

@mixin face-default {
    text-align: center;
    position: absolute;
    bottom: -30%;
}

@mixin font-timeStyle($Size, $color, $float: left) {
    color: $color;
    font-size: $Size;
    float: $float;
    @include fontsSetting(400);
}


/**
=======================================
    --setting using font style--
    zh-tw => Kozuka Mincho Pro B, Kozuka Mincho Pro EL
    en => TrajanPro-Bold, TrajanPro-Regular 
=======================================
**/

@mixin fontsFamily_basicSetting($weight) {
    font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
    font-style: normal;
    font-weight: $weight;
}

@mixin fontsSetting($fontsWeight) {
    @if $fontsWeight==400 {
        @include fontsFamily_basicSetting(400);
    }
    @else if $fontsWeight==700 {
        // zh-tw is Bold, en is regular
        @include fontsFamily_basicSetting(700);
    }
}

@mixin border_radius($radius_width) {
    -webkit-border-radius: $radius_width;
    -moz-border-radius: $radius_width;
    border-radius: $radius_width;
}

@mixin basic_Btnsetting {
    @include border_radius(12px);
    display: inline-block;
    background-color: #bbb;
}

@mixin liner-color($color1, $color2, $color3, $color4) {
    background-image: -webkit-linear-gradient(top, $color1 0%, $color2 50%, $color3 50%, $color4 100%);
    background-image: -moz-linear-gradient(top, $color1 0%, $color2 50%, $color3 50%, $color4 100%);
    background-image: -ms-linear-gradient(top, $color1 0%, $color2 50%, $color3 50%, $color4 100%);
    background-image: -o-linear-gradient(top, $color1 0%, $color2 50%, $color3 50%, $color4 100%);
    background-image: linear-gradient(top, $color1 0%, $color2 50%, $color3 50%, $color4 100%);
}

@mixin showdow_setting($s1, $s2, $s3, $s4, $s5, $s6, $s7, $s8, $s9, $a, $b, $c, $d, $color1, $color2, $color3, $color4) {
    -webkit-box-shadow: $s1 $s2 $s3 $color1, inset $s4 $s5 $s6 $s7 $color2, inset $s8 $s9 $a $color3, inset $b $c $d $color4;
    -moz-box-shadow: $s1 $s2 $s3 $color1, inset $s4 $s5 $s6 $s7 $color2, inset $s8 $s9 $a $color3, inset $b $c $d $color4;
    box-shadow: $s1 $s2 $s3 $color1, inset $s4 $s5 $s6 $s7 $color2, inset $s8 $s9 $a $color3, inset $b $c $d $color4;
}
