// website_susy & breakpoint & RWD setting
@import "breakpoint"; 
@import "susy";
$susy: (
  	flow: ltr,
  	math: fluid,
  	output: float,
  	gutter-position: after,
  	container: auto,
  	container-position: center,
  	columns: 4,
  	gutters: 1/4,
    column-width: false, 
  	global-box-sizing: content-box, 
  	last-flow: to,
  	debug: (
  	  	image: hide,
  	  	color: rgba(#66f, .25),
  	  	output: background,
  	  	toggle: top right,
  	),
  	use-custom: (
  	  	background-image: true,
  	  	background-options: false,
  	  	box-sizing: true,
  	  	clearfix: false,
  	  	rem: true,
  	)
);

// RWD setting
$break_layout : 
(
    mobile: 
    (
        break:  0px,
        layout: 4
    ), 
    pad: 
    (
        break:  768px,
        layout: 8
    ),
    padHor:
    (
        break: 1024px,
        layout: 8
    ), 
    desktop: 
    (
        break:  1200px,
        layout: 12
    )

);

// breakpoint setting
@mixin _break($screen: mobile) {
    $map: map-get($break_layout, $screen);
    $break: map-get($map, "break");
    $layout: map-get($map, "layout");
    @include susy-breakpoint($break, $layout) {
        @content;
    }
}