/**
=============================================================================
 portfoilo of Shih-Kai in 2016 After style
=============================================================================
**/

@import 'websiteSetting';
@include _break("mobile") {
    .container {
        .content {
            .beforeContent_All {
                .content-listInfomation {
                    .contentBlock {
                        .slideshowInfo {
                            .slideShow-Block {
                                .slideshow-onecontent {
                                    img {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include _break("padHor") {
    .container {
        .content {
            .beforeContent_All {
                .content-listInfomation {
                    .contentBlock {
                        height: 63.371%;
                        .slideshowInfo {
                            .slideShow-Block {
                                .slideshow-onecontent {
                                    img {
                                        height: 100%;
                                        width: 140%;
                                        right: inherit;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include _break("desktop") {
    .container {
        .content {
            .beforeContent_All {
                .content-listInfomation {
                    .contentBlock {
                        height: 72.371%;
                        .slideshowInfo {
                            .slideShow-Block {
                                .slideshow-onecontent {
                                    img {
                                        height: 100%;
                                        width: 110%;
                                        right: inherit;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.container {
    .content {
        .beforeContent_All {
            background-color: #5FB9B0;
            .content-listInfomation {
                .contentBlock {
                    .slideshowInfo {
                        .slideShow-Block {
                            .slideshow-onecontent {
                                .mask-cover {
                                    &:hover {
                                        border: 1px solid white;
                                    }
                                    &:active {
                                        border: 1px solid white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
