/**
=============================================================================
 portfoilo of Shih-Kai in 2016 Before style
=============================================================================
**/

@import 'compass';
@import 'variable'; // all varialbe
@import 'mixin'; // setting all mixin style
@import 'modle'; // setting button table ... style
@import 'extend'; // setting all extend
@import 'websiteSetting';
@include _break("mobile") {
    .container {
        overflow: hidden;
        .content {
            overflow: hidden;
            .beforeContent_All {
                overflow: hidden;
                .beforeTitle-PC {
                    display: none;
                }
                .choose-cat-PC {
                    display: none;
                }
                @include fullWH;
                background-color: rgba(63, 60, 99, 1);
                .content-listInfomation {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    padding-top: 86px;
                    text-align: right;
                    .selectStyle {
                        margin-right: 20px;
                        color: white;
                        background-color: transparent;
                        padding: 3px 10px;
                        padding-right: 50px;
                        margin-bottom: 15px;
                        line-height: 17px;
                        @include border_setting(1px, 0px, 1px, 0px, solid, white);
                        @include fontsFamily_basicSetting(400);
                        @include appearance-none(none);
                        @include select-backgroundImage("/images/next_s.png", no-repeat, right);
                        &:focus {
                            outline-color: rgba(255, 255, 255, .1);
                        }
                        option {
                            color: rgba(63, 60, 99, 1);
                        }
                    }
                    .contentBlock {
                        width: 90%;
                        margin: 0 auto;
                        overflow: hidden;
                        .slideshowInfo {
                            overflow: hidden;
                            position: relative;
                        }
                        .slideshow-onecontent {
                            position: relative;
                            img {
                                width: 100%;
                            }
                            .tipsBlock {
                                color: white;
                                background-color: rgba(0, 0, 0, .8);
                                position: absolute;
                                width: 100%;
                                bottom: 0;
                                letter-spacing: 2px;
                                h2{
                                    width: 90%;
                                    margin: 0 auto;
                                    font-size: 1.25rem;
                                    padding: 5% 0 10px 0;
                                }
                                p{
                                    width: 90%;
                                    margin: 0 auto;
                                    font-size: 0.825rem;
                                    padding: 0 0 10px 0;
                                }
                            }
                        }
                    }
                    .choose-slideshow-page {
                        margin: 10% auto;
                        text-align: center;
                        height: 8.235%;
                        .Keytips {
                            display: none;
                        }
                        .slideshowborder {
                            border-right: 1px solid white;
                        }
                        .slideshowcontent {
                            cursor: pointer;
                            width: 45%;
                            display: inline-block;
                            .slideshow-change {
                                height: 20px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include _break("pad") {}

@include _break("padHor") {
    .container {
        .content {
            height: 93%;
            padding: 2% 2% 2% 2%;
            .beforeContent_All {
                @include fullWH;
                background-color: rgba(63, 60, 99, 1);
                .beforeTitle-PC {
                    width: 100%;
                    right: 5%;
                    top: 113px;
                    @include before_Title;
                }
                .selectStyle {
                    display: none;
                }
                .content-listInfomation {
                    padding-top: 6.487%;
                    height: 88%;
                    .contentBlock {
                        width: auto;
                        height: 76.371%;
                        margin: 0 6.5%;
                        margin-right: 15%;
                        margin-top: 85px;
                        .slideshowInfo {
                            float: left;
                            width: 200%;
                            height: 100%;
                            .slideShow-Block {
                                width: 50%;
                                display: inline-block;
                                height: 100%;
                                float: left;
                                .slideshow-onecontent {
                                    width: 14%;
                                    overflow: hidden;
                                    margin-right: 20px;
                                    float: left;
                                    display: inline-block;
                                    height: 95%;
                                    position: static;
                                    .mask-cover {
                                        width: 7%;
                                        height: 95%;
                                        position: absolute;
                                        cursor: pointer;
                                        opacity: 0;
                                        background-color: rgba(0, 0, 0, .8);
                                        color: white;
                                        z-index: 99;
                                        &:hover {
                                            opacity: 1;
                                            border: 1px solid #BEF992;
                                        }
                                        &:active {
                                            opacity: 1;
                                            border: 1px solid #BEF992;
                                        }
                                        h2,
                                        p {
                                            float: left;
                                            width: 96%;
                                            position: absolute;
                                            right: 4%;
                                            letter-spacing: 2px;
                                        }
                                        h2 {
                                            font-size: 1rem;
                                            bottom: 15%;
                                        }
                                        p {
                                            font-size: 0.875rem;
                                            bottom: 22%;
                                        }
                                    }
                                    img {
                                        height: 100%;
                                        width: auto;
                                        position: relative;
                                        right: 50%;
                                    }
                                }
                            }
                        }
                    }
                    .choose-slideshow-page {
                        margin: 0 auto;
                        .slideshowcontent {
                            img {
                                margin-right: 30px;
                                @include PC_NextandPrivateBtn(-90deg, left);
                            }
                        }
                        .slideshowborder {
                            border: 0px;
                            img {
                                @include PC_NextandPrivateBtn(-90deg, right);
                            }
                        }
                        .Keytips {
                            // display: inline-block;
                            margin-top: 5px;
                            margin-left: -1.5%;
                            float: right;
                            position: absolute;
                            width: 2.5%;
                        }
                    }
                }
                .choose-cat-PC {
                    display: inline-block;
                    position: absolute;
                    right: 5%;
                    margin: 7% 0;
                    .before-listBtn {
                        padding: 15% 0;
                        color: white;
                        cursor: pointer;
                        &:hover {
                            color: #ececec;
                        }
                        &:active {
                            color: #ececec;
                        }
                    }
                }
            }
        }
    }
}

@include _break("desktop") {
    .container {
        .content {
            .beforeContent_All {
                .content-listInfomation {
                    .contentBlock {
                        height: 72.371%;
                        margin: 0 4.5%;
                        margin-right: 12%;
                        margin-top: 55px;
                        .slideshowInfo {
                            .slideShow-Block {
                                .slideshow-onecontent {
                                    width: 14%;
                                }
                            }
                        }
                    }
                }
                .choose-cat-PC {
                    margin: 4% 0;
                }
            }
        }
    }
}
