/**
=============================================================================
 portfoilo of Shih-Kai in 2016 After style
=============================================================================
**/

.container {
    .content {
        .beforeContent_All {
            background-color: #5FB9B0;
            .content-listInfomation {
                .contentBlock {
                    .slideshowInfo {
                        .slideShow-Block {
                            .slideshow-onecontent {
                                .mask-cover {
                                    &:hover {
                                        border: 1px solid white;
                                    }
                                    &:active {
                                        border: 1px solid white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
