/**
=============================================================================
 portfoilo of Shih-Kai's about page style
=============================================================================
**/
/**
=======================================
    --setting using font style--
    zh-tw => Kozuka Mincho Pro B, Kozuka Mincho Pro EL
    en => TrajanPro-Bold, TrajanPro-Regular 
=======================================
**/
.rotate-circle {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

@media (min-width: 0px) {
  .mobile-hide {
    display: none;
  }

  .container .content .aboutUs-container {
    height: 100%;
    width: 100%;
    background-color: #2B1F31;
    overflow: hidden;
  }
  .container .content .aboutUs-container .about-contentInfor {
    height: 300%;
    position: relative;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent {
    display: block;
    width: 100%;
    color: white;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentleft {
    width: 100%;
    display: block;
    text-align: center;
    padding: 15% 0 0 0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentleft img {
    width: 30%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright {
    width: 90.62%;
    display: block;
    padding: 4.69%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright h2 {
    font-size: 1.25rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright h2 span {
    display: none;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright p {
    line-height: 1.5rem;
    padding-top: 3%;
    text-align: justify;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent {
    width: 100%;
    display: table;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent img {
    display: table-cell;
    width: 50px;
    float: left;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent p {
    width: 84%;
    display: table-cell;
    vertical-align: middle;
    line-height: 58px;
    padding-top: 0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent .mail-siteImg {
    width: 50px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent a p {
    color: white;
    width: 80%;
    line-height: 58px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    float: left;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent a:hover {
    color: #cecece;
    text-decoration: none;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent a:active {
    color: #cecece;
    text-decoration: none;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentrightBox {
    padding: 0% 4.69% 0 4.69%;
    width: 90.62%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentleftBox {
    padding: 22% 4.69% 0 4.69%;
    width: 90.62%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .about-content {
    text-align: justify;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .Iconleft {
    width: 100%;
    float: inherit;
    text-align: center;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .Iconleft .Imgradius {
    width: 45px;
    height: 45px;
    background-color: #413D65;
    border-color: transparent;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .right-Information {
    width: 100%;
    min-height: 48px;
    text-align: center;
    float: left;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .right-Information .informationContent {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 0.825rem;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .right-Information .informationContent .job-title-top {
    border-bottom: 1px solid #413D65;
    padding-bottom: 5px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .right-Information .informationContent .job-title-bottom {
    display: inline-block;
    margin-top: 5px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .about-next {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 10%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .about-next img {
    width: 20px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container {
    height: 100%;
    padding: 20% 4.69% 0 4.69%;
    width: 90.62%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container {
    height: 100%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .coding-title {
    width: 100%;
    color: #5FB9B0;
    border-bottom: 3px solid #5FB9B0;
    text-align: center;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .coding-title img {
    width: 20%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .coding-title p {
    font-size: 1.0625rem;
    margin-bottom: 6px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .coding-title p span {
    border: 3px solid #5FB9B0;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    padding: 3px 15px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-text {
    display: inline-table;
    width: 70%;
    height: 85px;
    min-height: 85px;
    margin: 2% 10% 2% 20%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-text h2 {
    font-size: 1rem;
    color: #cecece;
    border-left: 5px solid #5FB9B0;
    padding-left: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 2% 0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-text p {
    padding-left: 15px;
    font-size: 0.875rem;
    color: white;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 5%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container {
    height: 100%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-title {
    border-bottom: 3px solid #BEF992;
    text-align: center;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-title p {
    font-size: 1.0625rem;
    margin-bottom: 6px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-title p span {
    border: 3px solid #BEF992;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    padding: 3px 15px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-title img {
    width: 20%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-content {
    width: 70%;
    margin: 5% auto;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-content .tools-text h2 {
    font-size: 1rem;
    color: #cecece;
    border-left: 5px solid #BEF992;
    padding-left: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 2% 0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-content .tools-text p {
    display: inline-block;
    font-size: 0.875rem;
    color: white;
    letter-spacing: 1px;
    line-height: 1rem;
    padding-left: 15px;
  }
}
@media (min-width: 360px) {
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .right-Information .informationContent {
    margin: 2% 0 8% 0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentleftBox {
    padding: 30% 4.69% 0 4.69%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-content .tools-text p {
    line-height: 20px;
  }
}
@media (min-width: 1024px) {
  .mobile-hide {
    display: block;
  }

  .container .content {
    padding: 2% 2%;
  }
  .container .content .aboutUs-container {
    height: 94%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent {
    height: 33.33333%;
    display: table;
    width: 100%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .about-content {
    max-height: 75px;
    width: 70%;
    text-align: left;
    margin: 8% 0 8% 20%;
    display: table;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentleft {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentleft img {
    width: 40%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright {
    display: table-cell;
    width: 45%;
    vertical-align: middle;
    padding: 0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright h2 {
    width: 69%;
    line-height: 4rem;
    font-size: 1.5rem;
    text-align: inherit;
    margin: 0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright h2 span {
    display: inline-block;
    float: right;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright h2 span img {
    float: right;
    width: 30%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright p {
    width: 70%;
    line-height: 1.5rem;
    padding-top: 0;
    text-align: inherit;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent {
    width: 30%;
    display: inline-block;
    margin: 2% 0 0 -3%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent .mail-siteImg {
    width: 30%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent img {
    width: 30%;
    display: inline-block;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent a {
    color: white;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent a p {
    display: inline-block;
    width: auto;
    line-height: 24px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent a:hover {
    color: #cecece;
    text-decoration: none;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent a:active {
    color: #cecece;
    text-decoration: none;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentright .connectioncontent p {
    width: auto;
    line-height: 24px;
    font-size: 0.725rem;
    display: inline-block;
    position: absolute;
    margin-top: 1.5%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentrightBox {
    width: auto;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding: 0px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentrightBox .PC-AboutcontentA {
    margin: 0 10% 9% 0%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentrightBox .PC-AboutcontentB {
    margin: 0 10% 18% 0%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .contentleftBox {
    width: 50%;
    vertical-align: middle;
    display: table-cell;
    text-align: right;
    padding: 0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .Iconleft {
    text-align: inherit;
    width: auto;
    float: left;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .Iconleft .Imgradius {
    width: 65px;
    height: 65px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .language-information {
    position: absolute;
    margin-top: 37.5px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .right-Information {
    margin-left: 30px;
    position: absolute;
    display: inline-block;
    text-align: inherit;
    width: auto;
    min-height: inherit;
    float: inherit;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .right-Information .informationContent {
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 0.9375rem;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .right-Information .informationContent .job-title-top {
    border-bottom: 1px solid #413D65;
    padding-bottom: 5px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .right-Information .informationContent .job-title-bottom {
    display: inline-block;
    margin-top: 5px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .about-next {
    position: fixed;
    width: 96%;
    bottom: 10%;
    left: 2%;
    text-align: center;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .about-next img {
    cursor: pointer;
    width: 25px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    width: auto;
    height: auto;
    text-align: center;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container {
    display: table-cell;
    margin: 0 auto;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .coding-title {
    width: 100%;
    color: #5FB9B0;
    border-bottom: 3px solid #5FB9B0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .coding-title img {
    width: 5%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .coding-title p {
    font-size: 1.3rem;
    margin-bottom: 6px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .coding-title p span {
    border: 3px solid #5FB9B0;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    padding: 3px 15px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .conding-content {
    text-align: left;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .conding-content .coding-text {
    display: inline-table;
    width: 70%;
    height: 85px;
    min-height: 85px;
    margin: 2% 10% 2% 20%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .conding-content .coding-text h2 {
    font-size: 1rem;
    color: #cecece;
    border-left: 5px solid #5FB9B0;
    padding-left: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 2%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .coding-container .conding-content .coding-text p {
    padding-left: 15px;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 5%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container {
    width: 60%;
    margin: 0 auto;
    display: table-cell;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-title {
    width: 100%;
    color: #BEF992;
    border-bottom: 3px solid #BEF992;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-title img {
    width: 5%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-title p {
    font-size: 1.3rem;
    margin-bottom: 6px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-title p span {
    border: 3px solid #BEF992;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    padding: 3px 15px;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-content {
    text-align: left;
    margin: 3% auto;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-content .tools-text {
    display: inline-table;
    width: 100%;
    height: 85px;
    min-height: 85px;
    margin: 0.5% 0 1% 0;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-content .tools-text p {
    display: inherit;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-content .tools-right {
    margin-left: 0;
  }
  .container .content .aboutUs-container .about-contentInfor #aboutPage3 {
    width: 60%;
    margin: 0 auto;
  }
  .container .content .aboutUs-container .about-contentInfor #aboutPage4 {
    width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-content .tools-text {
    width: 26%;
    margin: 0% 10% 2% 20%;
  }
  .container .content .aboutUs-container .about-contentInfor .aboutcontent .usful-container .tools-container .tools-content .tools-right {
    margin-left: 5%;
  }
}
