/**
=============================================================================
 portfoilo of Shih-Kai in 2016 Before style
=============================================================================
**/
/**
=======================================
    --setting using font style--
    zh-tw => Kozuka Mincho Pro B, Kozuka Mincho Pro EL
    en => TrajanPro-Bold, TrajanPro-Regular 
=======================================
**/
.paceBox {
  background-color: white;
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.paceBox .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 100px;
  transform-type: preserve-3d;
  animation: loader 6s cubic-bezier(0, 0, 1, 1) infinite;
}
.paceBox .loader .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin-top: -90px;
  margin-left: -10px;
  border-radius: 10px;
  background-color: #1e3f57;
  transform-type: preserve-3d;
  transform-origin: 50% 90px;
  transform: rotateZ(30deg);
  animation: dot-1 1.5s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}
.paceBox .loader .dot:nth-child(2) {
  transform: rotateZ(15deg);
  animation-name: dot-2;
  animation-delay: 150ms;
  background-color: #2B1F31;
}
.paceBox .loader .dot:nth-child(3) {
  transform: rotateZ(0deg);
  animation-name: dot-3;
  animation-delay: 300ms;
  background-color: #413D65;
}
.paceBox .loader .dot:nth-child(4) {
  transform: rotateZ(-15deg);
  animation-name: dot-4;
  animation-delay: 450ms;
  background-color: #5998b2;
}
.paceBox .loader .dot:nth-child(5) {
  transform: rotateZ(-30deg);
  animation-name: dot-5;
  animation-delay: 600ms;
  background-color: #5FB9B0;
}

/* animation */
@keyframes loader {
  0% {
    transform: rotateX(30deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(30deg) rotateZ(-360deg);
  }
}
@keyframes dot-1 {
  0% {
    transform: rotateZ(30deg) rotateX(10deg);
  }
  95%,
        100% {
    transform: rotateZ(390deg) rotateX(10deg);
  }
}
@keyframes dot-2 {
  0% {
    transform: rotateZ(15deg) rotateX(10deg);
  }
  95%,
        100% {
    transform: rotateZ(375deg) rotateX(10deg);
  }
}
@keyframes dot-3 {
  0% {
    transform: rotateZ(0deg) rotateX(10deg);
  }
  95%,
        100% {
    transform: rotateZ(360deg) rotateX(10deg);
  }
}
@keyframes dot-4 {
  0% {
    transform: rotateZ(-15deg) rotateX(10deg);
  }
  95%,
        100% {
    transform: rotateZ(345deg) rotateX(10deg);
  }
}
@keyframes dot-5 {
  0% {
    transform: rotateZ(-30deg) rotateX(10deg);
  }
  95%,
        100% {
    transform: rotateZ(330deg) rotateX(10deg);
  }
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

@media (min-width: 0px) {
  .container {
    overflow: hidden;
  }
  .container .content {
    overflow: hidden;
  }
  .container .content .beforeContent_All {
    width: 100%;
    height: 100%;
    background-color: #3f3c63;
  }
  .container .content .beforeContent_All .beforeTitle-PC {
    display: none;
  }
  .container .content .beforeContent_All .choose-cat-PC {
    display: none;
  }
  .container .content .beforeContent_All .content-listInfomation {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 86px;
    text-align: right;
  }
  .container .content .beforeContent_All .content-listInfomation .selectStyle {
    margin-right: 20px;
    color: white;
    background-color: transparent;
    padding: 3px 10px;
    padding-right: 50px;
    margin-bottom: 15px;
    line-height: 17px;
    border-top: 1px solid white;
    border-right: 0px solid white;
    border-bottom: 1px solid white;
    border-left: 0px solid white;
    font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/images/next_s.png");
    background-repeat: no-repeat;
    background-position: right;
  }
  .container .content .beforeContent_All .content-listInfomation .selectStyle:focus {
    outline-color: rgba(255, 255, 255, 0.1);
  }
  .container .content .beforeContent_All .content-listInfomation .selectStyle option {
    color: #3f3c63;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo {
    overflow: hidden;
    position: relative;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshow-onecontent {
    position: relative;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshow-onecontent img {
    width: 100%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshow-onecontent .tipsBlock {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    bottom: 0;
    letter-spacing: 2px;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshow-onecontent .tipsBlock h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 1.25rem;
    padding: 5% 0 10px 0;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshow-onecontent .tipsBlock p {
    width: 90%;
    margin: 0 auto;
    font-size: 0.825rem;
    padding: 0 0 10px 0;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page {
    margin: 10% auto;
    text-align: center;
    height: 8.235%;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .Keytips {
    display: none;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowborder {
    border-right: 1px solid white;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowcontent {
    cursor: pointer;
    width: 45%;
    display: inline-block;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowcontent .slideshow-change {
    height: 20px;
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  .container .content {
    height: 93%;
    padding: 2% 2% 2% 2%;
  }
  .container .content .beforeContent_All {
    width: 100%;
    height: 100%;
    background-color: #3f3c63;
  }
  .container .content .beforeContent_All .beforeTitle-PC {
    width: 100%;
    right: 5%;
    top: 113px;
    display: block;
    text-align: right;
    position: absolute;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  .container .content .beforeContent_All .selectStyle {
    display: none;
  }
  .container .content .beforeContent_All .content-listInfomation {
    padding-top: 6.487%;
    height: 88%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock {
    width: auto;
    height: 76.371%;
    margin: 0 6.5%;
    margin-right: 15%;
    margin-top: 85px;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo {
    float: left;
    width: 200%;
    height: 100%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block {
    width: 50%;
    display: inline-block;
    height: 100%;
    float: left;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent {
    width: 14%;
    overflow: hidden;
    margin-right: 20px;
    float: left;
    display: inline-block;
    height: 95%;
    position: static;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover {
    width: 7%;
    height: 95%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 99;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover:hover {
    opacity: 1;
    border: 1px solid #BEF992;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover:active {
    opacity: 1;
    border: 1px solid #BEF992;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover h2,
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover p {
    float: left;
    width: 96%;
    position: absolute;
    right: 4%;
    letter-spacing: 2px;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover h2 {
    font-size: 1rem;
    bottom: 15%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover p {
    font-size: 0.875rem;
    bottom: 22%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent img {
    height: 100%;
    width: auto;
    position: relative;
    right: 50%;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page {
    margin: 0 auto;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowcontent img {
    margin-right: 30px;
    float: left;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowborder {
    border: 0px;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowborder img {
    float: right;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .Keytips {
    margin-top: 5px;
    margin-left: -1.5%;
    float: right;
    position: absolute;
    width: 2.5%;
  }
  .container .content .beforeContent_All .choose-cat-PC {
    display: inline-block;
    position: absolute;
    right: 5%;
    margin: 7% 0;
  }
  .container .content .beforeContent_All .choose-cat-PC .before-listBtn {
    padding: 15% 0;
    color: white;
    cursor: pointer;
  }
  .container .content .beforeContent_All .choose-cat-PC .before-listBtn:hover {
    color: #ececec;
  }
  .container .content .beforeContent_All .choose-cat-PC .before-listBtn:active {
    color: #ececec;
  }
}
@media (min-width: 1200px) {
  .container .content .beforeContent_All .content-listInfomation .contentBlock {
    height: 72.371%;
    margin: 0 4.5%;
    margin-right: 12%;
    margin-top: 55px;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent {
    width: 14%;
  }
  .container .content .beforeContent_All .choose-cat-PC {
    margin: 4% 0;
  }
}
