/**
=============================================================================
 portfoilo of Shih-Kai in 2016 Before style
=============================================================================
**/
/**
=======================================
    --setting using font style--
    zh-tw => Kozuka Mincho Pro B, Kozuka Mincho Pro EL
    en => TrajanPro-Bold, TrajanPro-Regular 
=======================================
**/
.paceBox {
  background-color: white;
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
}
.paceBox .spinner {
  width: 40px;
  height: 40px;
  position: relative;
}
.paceBox .cube1,
.paceBox .cube2 {
  background-color: #413D65;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}
.paceBox .cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* animation */
@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/* Grow */
@keyframes myAnimation {
  0% {
    height: 20px;
  }
  25% {
    height: 23px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 23px;
  }
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-animation-name: myAnimation;
  animation-name: myAnimation;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.index-instruction {
  width: 40px;
  height: 40px;
  margin: 10px auto;
  background-color: #FFF;
  border-radius: 100%;
  -webkit-animation: instruction 1.0s infinite ease-in-out;
  animation: instruction 1.0s infinite ease-in-out;
}

@-webkit-keyframes instruction {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes instruction {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@media (min-width: 0px) {
  .mobile-open {
    display: block;
  }

  .PC-open {
    display: none;
  }

  .container {
    overflow: hidden;
  }
  .container .content {
    overflow: hidden;
  }
  .container .content .beforeContent_All {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #3f3c63;
  }
  .container .content .beforeContent_All .beforeTitle-PC {
    display: none;
  }
  .container .content .beforeContent_All .choose-cat-PC {
    display: none;
  }
  .container .content .beforeContent_All .content-listInfomation {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 86px;
    text-align: right;
  }
  .container .content .beforeContent_All .content-listInfomation .selectStyle {
    margin-right: 20px;
    color: white;
    background-color: transparent;
    padding: 3px 10px;
    padding-right: 50px;
    margin-bottom: 15px;
    line-height: 17px;
    border-top: 1px solid white;
    border-right: 0px solid white;
    border-bottom: 1px solid white;
    border-left: 0px solid white;
    font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/images/next_s.png");
    background-repeat: no-repeat;
    background-position: right;
  }
  .container .content .beforeContent_All .content-listInfomation .selectStyle:focus {
    outline-color: rgba(255, 255, 255, 0.1);
  }
  .container .content .beforeContent_All .content-listInfomation .selectStyle option {
    color: #3f3c63;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo {
    overflow: hidden;
    position: relative;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshow-onecontent {
    position: relative;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshow-onecontent img {
    width: 100%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshow-onecontent .tipsBlock {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    bottom: 0;
    letter-spacing: 2px;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshow-onecontent .tipsBlock h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 1.25rem;
    padding: 5% 0 10px 0;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshow-onecontent .tipsBlock p {
    width: 90%;
    margin: 0 auto;
    font-size: 0.825rem;
    padding: 0 0 10px 0;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page {
    margin: 5% auto;
    text-align: center;
    height: 8.235%;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .Keytips {
    display: none;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowborder {
    border-right: 1px solid white;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowcontent {
    width: 45%;
    display: inline-block;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowcontent .slideshow-change {
    height: 20px;
    cursor: pointer;
  }
}
@media (min-width: 360px) {
  .container .content .beforeContent_All .content-listInfomation .contentBlock {
    width: 90%;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page {
    margin: 10% auto;
    text-align: center;
    height: 8.235%;
  }
}
@media (min-width: 1024px) {
  .mobile-open {
    display: none;
  }

  .PC-open {
    display: block;
  }

  .container .content {
    height: 93%;
    padding: 2% 2% 2% 2%;
  }
  .container .content .beforeContent_All {
    width: 100%;
    height: 100%;
    background-color: #3f3c63;
  }
  .container .content .beforeContent_All .beforeTitle-PC {
    width: 100%;
    right: 5%;
    top: 113px;
    display: block;
    text-align: right;
    position: absolute;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  .container .content .beforeContent_All .selectStyle {
    display: none;
  }
  .container .content .beforeContent_All .content-listInfomation {
    padding-top: 6.487%;
    height: 88%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock {
    width: auto;
    height: 76.371%;
    margin: 0 6.5%;
    margin-right: 15%;
    margin-top: 85px;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo {
    float: left;
    width: 200%;
    height: 100%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block {
    width: 50%;
    display: inline-block;
    height: 100%;
    float: left;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent {
    width: 14%;
    overflow: hidden;
    margin-right: 20px;
    float: left;
    display: inline-block;
    height: 95%;
    position: static;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover {
    width: 7%;
    height: 95%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 99;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover:hover {
    opacity: 1;
    border: 1px solid #BEF992;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover:active {
    opacity: 1;
    border: 1px solid #BEF992;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover h2,
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover p {
    float: left;
    width: 96%;
    position: absolute;
    right: 4%;
    letter-spacing: 1px;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover h2 {
    font-size: 0.875rem;
    bottom: 15%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover p {
    font-size: 0.75rem;
    bottom: 25%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent img {
    height: 100%;
    width: auto;
    position: relative;
    right: 150%;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page {
    margin: 0 auto;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowcontent {
    height: 25px;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowcontent img {
    margin-right: 30px;
    float: left;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowborder {
    border: 0px;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .slideshowborder img {
    float: right;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .back-list {
    display: block;
    margin: -50px 5% 0 0;
    text-align: right;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .back-list .Keytips {
    display: inline-block;
    height: 25px;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .back-list span {
    line-height: 25px;
    letter-spacing: 1px;
    float: right;
    margin: 0 0 0 1%;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .back-list a {
    color: white;
    text-decoration: none;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .back-list a:hover {
    color: #cecece;
    text-decoration: none;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .back-list a:active {
    color: #cecece;
    text-decoration: none;
  }
  .container .content .beforeContent_All .choose-cat-PC {
    display: inline-block;
    position: absolute;
    right: 5%;
    margin: 7% 0;
  }
  .container .content .beforeContent_All .choose-cat-PC .before-listBtn {
    padding: 15% 0;
    color: white;
    cursor: pointer;
  }
  .container .content .beforeContent_All .choose-cat-PC .before-listBtn:hover {
    color: #ececec;
  }
  .container .content .beforeContent_All .choose-cat-PC .before-listBtn:active {
    color: #ececec;
  }
  .container .content .beforeContent_All .choose-cat-PC .before-listBtn p {
    letter-spacing: 1px;
  }
}
@media (min-width: 1200px) {
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page .back-list {
    margin: -25px 4% 0 0;
  }
  .container .content .beforeContent_All .content-listInfomation .choose-slideshow-page span {
    padding-left: 10px;
    display: table-caption;
    vertical-align: middle;
    float: inherit;
    margin: 0;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock {
    height: 72.371%;
    margin: 0 4.5%;
    margin-right: 12%;
    margin-top: 55px;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent {
    width: 14%;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover p {
    bottom: 22%;
    font-size: 0.875rem;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent .mask-cover h2 {
    font-size: 1.125rem;
  }
  .container .content .beforeContent_All .content-listInfomation .contentBlock .slideshowInfo .slideShow-Block .slideshow-onecontent img {
    right: 50%;
  }
  .container .content .beforeContent_All .choose-cat-PC {
    margin: 4% 0;
  }
}
