/**
=============================================================================
 portfoilo of Shih-Kai in Index style
=============================================================================
**/
/**
=============================================================================
 portfoilo of Shih-Kai common style clump
=============================================================================
**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
=======================================
    --setting using font style--
    zh-tw => Kozuka Mincho Pro B, Kozuka Mincho Pro EL
    en => TrajanPro-Bold, TrajanPro-Regular 
=======================================
**/
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
  font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
  font-style: normal;
  font-weight: 700;
}

p {
  font-size: 0.9375rem;
  font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
  font-style: normal;
  font-weight: 400;
}

#header {
  position: fixed;
  top: 20px;
  z-index: 999;
  width: 100%;
}
#header .logo {
  height: auto;
  float: left;
}
#header .logo img {
  margin-left: 20px;
}
#header .mobile-menu {
  display: block;
  float: right;
  text-align: right;
}
#header .mobile-menu img {
  margin-right: 20px;
  width: 25px;
  cursor: pointer;
}
#header .mobile-menu .menu-container {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #2b1e31;
  overflow: auto;
}
#header .mobile-menu .menu-container ul {
  margin-top: 20px;
}
#header .mobile-menu .menu-container ul .closeMenu-Btn {
  position: absolute;
  right: 0;
  top: 20px;
}
#header .mobile-menu .menu-container ul .menu-list {
  margin: 18% 0;
}
#header .mobile-menu .menu-container ul li {
  text-align: center;
}
#header .mobile-menu .menu-container ul li a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.8rem;
}
#header .mobile-menu .menu-logo {
  text-align: center;
}
#header .mobile-menu .menu-logo .mobile-porfoiloLogo {
  margin: 0 auto;
}

.copyright {
  z-index: 9999;
  position: fixed;
  bottom: 25px;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
}

.paceBox {
  background-color: white;
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.paceBox .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 100px;
  transform-type: preserve-3d;
  animation: loader 6s cubic-bezier(0, 0, 1, 1) infinite;
}
.paceBox .loader .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin-top: -90px;
  margin-left: -10px;
  border-radius: 10px;
  background-color: #1e3f57;
  transform-type: preserve-3d;
  transform-origin: 50% 90px;
  transform: rotateZ(30deg);
  animation: dot-1 1.5s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}
.paceBox .loader .dot:nth-child(2) {
  transform: rotateZ(15deg);
  animation-name: dot-2;
  animation-delay: 150ms;
  background-color: #2B1F31;
}
.paceBox .loader .dot:nth-child(3) {
  transform: rotateZ(0deg);
  animation-name: dot-3;
  animation-delay: 300ms;
  background-color: #413D65;
}
.paceBox .loader .dot:nth-child(4) {
  transform: rotateZ(-15deg);
  animation-name: dot-4;
  animation-delay: 450ms;
  background-color: #5998b2;
}
.paceBox .loader .dot:nth-child(5) {
  transform: rotateZ(-30deg);
  animation-name: dot-5;
  animation-delay: 600ms;
  background-color: #5FB9B0;
}

/* animation */
@keyframes loader {
  0% {
    transform: rotateX(30deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(30deg) rotateZ(-360deg);
  }
}
@keyframes dot-1 {
  0% {
    transform: rotateZ(30deg) rotateX(10deg);
  }
  95%,
        100% {
    transform: rotateZ(390deg) rotateX(10deg);
  }
}
@keyframes dot-2 {
  0% {
    transform: rotateZ(15deg) rotateX(10deg);
  }
  95%,
        100% {
    transform: rotateZ(375deg) rotateX(10deg);
  }
}
@keyframes dot-3 {
  0% {
    transform: rotateZ(0deg) rotateX(10deg);
  }
  95%,
        100% {
    transform: rotateZ(360deg) rotateX(10deg);
  }
}
@keyframes dot-4 {
  0% {
    transform: rotateZ(-15deg) rotateX(10deg);
  }
  95%,
        100% {
    transform: rotateZ(345deg) rotateX(10deg);
  }
}
@keyframes dot-5 {
  0% {
    transform: rotateZ(-30deg) rotateX(10deg);
  }
  95%,
        100% {
    transform: rotateZ(330deg) rotateX(10deg);
  }
}
/* Grow */
@keyframes myAnimation {
  0% {
    height: 20px;
  }
  25% {
    height: 23px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 23px;
  }
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-animation-name: myAnimation;
  animation-name: myAnimation;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.container {
  width: 100%;
  height: 100%;
}

.maskAllpage {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  top: 0;
  left: 0;
}

@media (min-width: 0px) {
  .container .content {
    width: 100%;
    height: 100%;
  }
  .container .content .countent-Time {
    width: 100%;
    height: 100%;
  }
  .container .content .countent-Time .contentChange {
    display: none;
  }
  .container .content .countent-Time #content-After {
    background-color: #326051;
    width: 100%;
    height: 50%;
    display: block;
  }
  .container .content .countent-Time #content-Before {
    width: 100%;
    height: 50%;
    background-color: #121827;
    display: block;
  }
  .container .content .countent-Time .contentBox {
    display: none;
  }
  .container .content .toogle-Btn {
    position: absolute;
    left: 25%;
    top: 20%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display: inline-block;
    background-color: #2A2A2A;
    width: 50%;
    height: 60%;
    text-align: center;
  }
  .container .content .toogle-Btn input {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .container .content .toogle-Btn input:checked + label {
    background-image: -webkit-linear-gradient(top, #eee 0%, #ddd 50%, #ccc 50%, #eee 100%);
    background-image: -moz-linear-gradient(top, #eee 0%, #ddd 50%, #ccc 50%, #eee 100%);
    background-image: -ms-linear-gradient(top, #eee 0%, #ddd 50%, #ccc 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #eee 0%, #ddd 50%, #ccc 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #eeeeee 0%, #dddddd 50%, #cccccc 50%, #eeeeee 100%);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0px 35px 10px 0px #888, inset 0px 40px 1px #bbb, inset 0px -6px 0px white;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0px 35px 10px 0px #888, inset 0px 40px 1px #bbb, inset 0px -6px 0px white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0px 35px 10px 0px #888, inset 0px 40px 1px #bbb, inset 0px -6px 0px white;
  }
  .container .content .toogle-Btn input:checked:hover + label {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0px 35px 10px 0px #888, inset 0px 40px 1px #bbb, inset 0px -6px 0px white;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0px 35px 10px 0px #888, inset 0px 40px 1px #bbb, inset 0px -6px 0px white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0px 35px 10px 0px #888, inset 0px 40px 1px #bbb, inset 0px -6px 0px white;
  }
  .container .content .toogle-Btn input:checked + label:before {
    z-index: 1;
    top: 55px;
    font-size: 2rem;
    color: #666;
  }
  .container .content .toogle-Btn input:checked + label:after {
    bottom: 9px;
    color: #aaa;
    text-shadow: none;
    z-index: 4;
    font-size: 2rem;
  }
  .container .content .toogle-Btn label {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-image: -webkit-linear-gradient(top, #888 0%, #434343 50%, #585858 50%, #212121 100%);
    background-image: -moz-linear-gradient(top, #888 0%, #434343 50%, #585858 50%, #212121 100%);
    background-image: -ms-linear-gradient(top, #888 0%, #434343 50%, #585858 50%, #212121 100%);
    background-image: -o-linear-gradient(top, #888 0%, #434343 50%, #585858 50%, #212121 100%);
    background-image: linear-gradient(to bottom, #888888 0%, #434343 50%, #585858 50%, #212121 100%);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0px -38px 10px -5px #131313, inset 0px -40px 1px #2C2C2C, inset 0px 5px 2px #B1B1B1;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0px -38px 10px -5px #131313, inset 0px -40px 1px #2C2C2C, inset 0px 5px 2px #B1B1B1;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0px -38px 10px -5px #131313, inset 0px -40px 1px #2C2C2C, inset 0px 5px 2px #B1B1B1;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font: normal 11px Arial, Sans-Serif;
    color: #666;
    text-shadow: 0 1px 0 white;
    cursor: text;
  }
  .container .content .toogle-Btn label:before {
    content: attr(data-off);
    position: absolute;
    top: 11px;
    right: 0;
    left: 0;
    z-index: 4;
    font-size: 2rem;
    color: #aaa;
  }
  .container .content .toogle-Btn label:after {
    content: attr(data-on);
    position: absolute;
    right: 0;
    bottom: 55px;
    left: 0;
    color: #666;
    text-shadow: 0 -1px 0 #eee;
    font-size: 2rem;
  }
  .container .content .touchBox {
    display: none;
  }

  .copyright p {
    font-size: 0.5rem;
  }
}
@media (min-width: 1024px) {
  #header {
    top: 75px;
  }
  #header .logo img {
    margin-left: 85px;
  }
  #header .mobile-menu {
    display: none;
  }

  .container .content {
    width: 96%;
    height: 98%;
    padding: 2% 2% 0px 2%;
  }
  .container .content .toogle-Btn {
    display: none;
  }
  .container .content .countent-Time {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
  .container .content .countent-Time .contentChange {
    display: block;
    position: absolute;
    margin: 0 16%;
    width: 68%;
    text-align: center;
    z-index: 996;
  }
  .container .content .countent-Time .contentChange .shihKaiporfoiloText {
    opacity: 0;
    width: 50%;
    float: left;
    text-align: left;
    margin: -5% 0 0 7%;
    color: rgba(255, 255, 255, 0.8);
  }
  .container .content .countent-Time .contentChange .beforeToafterInfo {
    opacity: 0;
    width: 50%;
    float: right;
    text-align: right;
    margin: -5% 7% 0 0;
    color: rgba(255, 255, 255, 0.8);
  }
  .container .content .countent-Time .contentChange .move-Icon {
    display: inline-block;
    margin: 15% 2% 0 2%;
    font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
    font-style: normal;
    font-weight: 700;
    height: 220px;
  }
  .container .content .countent-Time .contentChange .move-Icon p {
    overflow: hidden;
    width: 60%;
    height: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 8.3rem;
  }
  .container .content .countent-Time .contentBox {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    left: 0;
  }
  .container .content .countent-Time .contentBox .contentBox {
    position: absolute;
    overflow: hidden;
  }
  .container .content .countent-Time #content-After {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #5fb2a9;
    position: absolute;
    left: 0;
    z-index: 90;
  }
  .container .content .countent-Time #content-After .fontTime {
    margin-top: 14%;
    text-align: left;
  }
  .container .content .countent-Time #content-After .fontTime p {
    padding-left: 6%;
    color: white;
    font-size: 2rem;
    float: left;
    font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
    font-style: normal;
    font-weight: 400;
    opacity: 0;
  }
  .container .content .countent-Time #content-After .fontTime p span {
    color: white;
    font-size: 2.8rem;
    float: right;
    font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: 700;
  }
  .container .content .countent-Time #content-After .face-left {
    text-align: center;
    position: absolute;
    bottom: -30%;
    left: 0px;
  }
  .container .content .countent-Time #content-After .face-left img {
    position: relative;
    left: -1.5%;
  }
  .container .content .countent-Time #content-Before {
    width: 50%;
    height: 100%;
    float: right;
    background-color: #413D65;
    position: absolute;
    right: 0;
    left: inherit;
    z-index: 90;
  }
  .container .content .countent-Time #content-Before .fontTime {
    margin-top: 14%;
    text-align: right;
  }
  .container .content .countent-Time #content-Before .fontTime p {
    padding-right: 6%;
    color: white;
    font-size: 2rem;
    float: right;
    font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
    font-style: normal;
    font-weight: 400;
    opacity: 0;
  }
  .container .content .countent-Time #content-Before .fontTime p span {
    color: white;
    font-size: 2.8rem;
    float: right;
    font-family: 'Droid Serif', "Times New Roman", Times serif, Arial, "source-han-sans-traditional", "JhengHei", simhei, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: 700;
  }
  .container .content .countent-Time #content-Before .face-right {
    text-align: center;
    position: absolute;
    bottom: -30%;
    right: 0px;
  }
  .container .content .countent-Time #content-Before .face-right img {
    position: relative;
    left: 1%;
  }
  .container .content #touchBox {
    width: 96%;
    height: 98%;
    position: absolute;
    z-index: 998;
    display: block;
    cursor: auto;
  }
  .container .content #touchBox .touch-left {
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
  }
  .container .content #touchBox .touch-right {
    right: 0;
    position: absolute;
    width: 50%;
    height: 100%;
  }
  .container .content #touchBox .touch-about {
    width: 35%;
    height: 60%;
    position: absolute;
    top: 40%;
    left: 32.5%;
  }

  .copyright p {
    font-size: 0.9375rem;
  }
}
@media (min-width: 1200px) {
  .container .content .countent-Time .contentChange .move-Icon p {
    font-size: 10.394rem;
  }
}
